
#principal {
    text-align: center;
    color: navy;
}

.destaque {
    font-weight: bold;
    color: darkred;
}

p {
    font-family: Arial, sans-serif;
}

ul li {
    color: green;
}

a:hover {
    color: orange;
}

h1::after {
    content: " 🚀";
}
